# Ignore data and outputs
data/
outputs/
*.sqlite3

# Ignore Python cache
__pycache__/
*.pyc
*.pyo

# Ignore environment
.env

# Ignore Jupyter
.ipynb_checkpoints

# Ignore git
.git

# Ignore VSCode
.vscode

# Ignore Venv
venv